*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}

.body_dashboard{
    height: 100vh;
    width: 100%;
    display: flex;
    background: linear-gradient(to bottom right, #ffffff 0%, #c0c0c0 100%);

}

/* ESTILOS INDEX */

.body_index{
    background: linear-gradient(to bottom right, #33ccff 0%, #66ffff 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio_de_sesion{
    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 290px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #EEEEEE;
}

.inicio_de_sesion h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.inicio_de_sesion input, p{
    font-size: 17px;
    color: #5a5959;
    margin-bottom: 10px;
}

.inicio_de_sesion input{
    padding: 10px 11px;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 25px;
    outline-color: rgb(67, 149, 149);

}

.inicio_de_sesion button{
    left: 30%;
    bottom: 30px;
    position: absolute;
    padding: 13px 47px;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid black;
}

.inicio_de_sesion button:hover{
    background: linear-gradient(to bottom right, #33ccff 0%, #66ffff 100%);
    
}



/* ------------------------------------------------------------ FIN ESTILOS INDEX --------------------------------------- */



/* ---------------------------------------------------------- ESTILOS DASHBOARD -------------------------------------------------- */

.usuario{
    width: 160px;
    padding: 20px;
    height: 80px;
}

.usuario a{
    color: white;
}

.usuario p{
    color: white;
    font-weight: bold;
}

.usuario a:hover{
    color: rgb(118, 118, 118);
}
.vision_de_usuario a{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.vision_de_usuario{
    background: linear-gradient(to bottom, #33ccff 0%, #66ffff 100%);
    position: relative;
    height: 100%;
    width: 200px;
    
}




.cerrar_sesion{
    position: absolute;
    top: 50px;
    left: 70px;
}

.usuario_opciones{
    position: absolute;
    top: 3%;
    margin-left: 65px;
}

.usuario_opciones li{
    margin-top: 10px;
}

.opciones_proyecto{
    padding: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    border-bottom:2px solid white ;
    width: 160px;
    border-top: 2px solid white;
}
.opciones_proyecto a{
    padding: 5px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.opciones_proyecto a:hover{
    color: rgb(118, 118, 118);
}


.proyectos_recientes{
    position: absolute;
    padding: 20px;
    top: 70%;
    width: 160px;
}

.proyectos_recientes p{
    padding: 5px;
    color: rgb(78, 78, 78);
} 


.crear_proyecto{
    background-color: rgb(181, 181, 181);
    display: flex;
    border-radius: 15px;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 20px;
    color: blue;
    width: 113px;
    height: 80px;
    left: 80px;
    text-decoration: none;
    top: 70px;
}

.crear_proyecto:hover{
    background-color: gray;
}

.crear_proyecto p{
    margin-top: 40px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.crear_proyecto .fas{
    cursor: pointer;
}



/* Ventana modal crear proyecto*/

.modal_crear_proyecto{
    display: none;
    margin-left: 10%;
    margin-top: 50px;
    padding: 30px;
    background-color: #FFFFFF;
    max-height: 350px;
    height: auto; 
    width: 350px;
    border-radius: 15px;
    transition: 0.5s all;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.mostrar_modal_crear_proyecto{
    pointer-events: auto;
    display: block;
}

.input_titulo_proyecto{
    outline-color: rgb(67, 149, 149);
    padding: 5px;
    border-radius: 15px;
    border: 1.5px solid black;
}

.label_gubernamental{
    display: flex;
    gap: 20px;
}

.modal_crear_proyecto p{
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}
.procesos_modal_crear_proyecto{
    display: flex;
    gap: 20px;
}

.btns_modal_crear_proyecto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btns_modal_crear_proyecto button{
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    border: none;
    cursor: pointer;
    padding: 10px 30px;
}

.btns_modal_crear_proyecto button:hover{
    background: linear-gradient(to bottom, #33ccff 0%, #66ffff 100%);
}



.btns_modal_crear_proyecto a{
    padding: 10px 30px;
    font-size: 13px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
}

.btns_modal_crear_proyecto a:hover{
    background: linear-gradient(to bottom, #33ccff 0%, #66ffff 100%);
}


.modal_crear_proyecto .btns_modal_crear_proyecto{
    margin-top: 30px;
}



/* Fin Ventana modal crear proyecto*/


/* FIN ESTILOS DASHBOARD */

/* ESTILOS UNIDADES */

.body_unidades{
    background: linear-gradient(to bottom right, #ffffff 0%, #c0c0c0 100%);
    height: 100vh;
    padding: 30px;
    width: 100%;
}

.body_unidades h1{
    margin-left: 37%;
    padding-top: 20px;
    padding-bottom: 30px;
}



.tabla_unidades{
    text-align: left;
    margin-top: 20px;
    width: 370px;
    margin-left: 25%;
    padding-bottom: 20px;
}

.tabla_unidades table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.tabla_unidades th{
    padding-bottom: 20px;
}

.tabla_unidades td{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.tabla_unidades thead, tbody{
    border-bottom: 2px solid black;
}



/* ESTILOSMODAL ELIMINAR UNIDAD */

.modal_eliminar_unidad{
    display: none;
    position: fixed;
    background-color: white;
    color: black;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    border: 1px solid black;
    top: 170px;
    margin-left: 21%;
}

.modal_eliminar_unidad:target{
    display: block;
}
.modal_eliminar_unidad h2{
    margin-bottom: 20px;
    text-align: center;
}

.modal_eliminar_unidad p{
    margin-bottom: 30px;
    color: black;
}

.opciones_eliminar_unidad{
    display: flex;
    justify-content: space-between;
}

.opciones_eliminar_unidad a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.opciones_eliminar_unidad button{
    background-color: black;
    padding: 2px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: solid 1px black;
}

.opciones_eliminar_unidad a:hover{
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);
}

/* FIN ESTILOS MODAL ELIMINAR UNIDAD */

/* ESTILOS REGISTRO UNIDADES*/

.body_registrar_unidad{
    padding: 20px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right, #ffffff 0%, #c0c0c0 100%);
    
}

.form_regis_unidad{
    position: relative;
    align-items: center;
    margin-left: 25%;
    margin-top: 160px;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    height: auto;
    width: 300px;
}

.form_regis_unidad h2{
    text-align: center;
    margin-bottom: 30px;
}

.form_regis_unidad input{
    outline-color: rgb(67, 149, 149);
    margin-left: 20px;
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 15px;
}

.form_regis_unidad button{
    cursor: pointer;
    color: white;
    background-color: black;
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 10px;
}

.form_regis_unidad button:hover{
    border: rgb(67, 149, 149);
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);
}




/* FIN ESTILOS REGISTRO UNIDADES*/

/* INICIO ESTILOS EDITAR UNIDAD*/
.body_editar_unidad{
    background: linear-gradient(to bottom right, #ffffff 0%, #c0c0c0 100%);
    height: 100vh;
    width: 100%;
}

.form_editar_unidad{
    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: 140px;
    margin-left: 30%;
    width: 300px;
    background-color: rgb(255, 255, 255);
}

.form_editar_unidad h2{
    margin-bottom: 30px;
}

.form_editar_unidad input{
    width: 280px;
    padding: 5px;
    border-radius: 15px;
    border: 1.5px solid black;
}
.btns_editar_unidad a{
    padding: 4.5px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid black;
}

.btns_editar_unidad button{
    padding: 9px;
    border-radius: 15px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: solid black 1px;
}

.btns_editar_unidad a:hover{
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);
    border: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);;

}

.btns_editar_unidad button:hover{
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);
    border: rgb(67, 149, 149) solid 1px;
}





.btns_editar_unidad{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}


/* FIN ESTILOS EDITAR UNIDAD*/

/* FIN ESTILOS UNIDADES */

/* INICIO ESTILOS MATERIALES */

.body_materiales{
    background: linear-gradient(to bottom right, #ffffff 0%, #c0c0c0 100%);
    height: 100vh;
    width: 100%;
}

.body_materiales h2{
    margin-left: 37%;
    padding-top: 5%;
    padding-bottom: 30px;
    
}

.tabla_materiales{
    width: 500px;
    text-align: left;
    padding: 20px;
    margin-top: 3%;
    margin-left: 20%;
}

.tabla_materiales table{
    border-collapse: collapse;
}

.tabla_materiales th{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.tabla_materiales td{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    border-collapse: collapse;
}

.body_registrar_material{
    background: linear-gradient(to bottom right, #ffffff 0%, #c0c0c0 100%);
    height: 100vh;
    width: 100%;

}

.form_regis_material{
    background: white;
    color: black;
    padding: 20px;
    width: 300px;
    margin-top: 160px;
    margin-left: 25%;
    border-radius: 20px;
}

.form_regis_material h2{
    margin-bottom: 20px;
}
.form_regis_material p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
}

.form_regis_material input{
    padding: 5px;
    width: 270px;
    border-radius: 5px;
    border: solid 1px black;
}

.form_regis_material button{
    background-color: black;
    color: white;
    padding: 5px;
    border: solid black 1px;
    border-radius: 5px;
}

.form_regis_material button:hover{
    cursor: pointer;
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);

}

.modal_eliminar_material{
    display: none;
    position: fixed;
    background-color: white;
    color: black;
    text-align: left;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    border: 1px solid black;
    top: 140px;
    margin-left: 22%;
}

.modal_eliminar_material:target{
    display: block;
}



.modal_eliminar_material p{
    color: black;
    margin-bottom: 20px;
}

.btns_eliminar_material{
    justify-content: space-between;
    display: flex;
}

.btns_eliminar_material a{
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.btns_eliminar_material a:hover{
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);

}

.body_editar_material{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right, #ffffff 0%, #c0c0c0 100%);
}

.form_editar_material{
    margin-left: 30%;
    margin-top: 10%;
    background-color: white;
    padding: 20px;
    width: 280px;
    border-radius: 20px;
}
.form_editar_material h2{
    margin-bottom: 20px;
}

.form_editar_material p{
    margin-top: 10px;
    color: black;
}

.form_editar_material input{
    margin-bottom: 20px;
    padding: 5px;
    width: 250px;
}

.btns_editar_material{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btns_editar_material a{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.btns_editar_material a:hover{
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);

}

.btns_editar_material button{
    border: 1px solid black;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.btns_editar_material button:hover{
    border: linear-gradient(to top left, #33ccff 0%, #66ffff 100%) 1px solid;
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);

}


/* FIN ESTILOS MATERIALES */

/* INICIO BOTONES REGISTRAR/REGRESAR AL MENU */

.btn_registrar{
    margin-bottom: 20px;
    margin-left: 25%;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.btn_registrar:hover{
    color: gray;
    background-color: rgb(56, 56, 56);
}

.btn_registrar a{
    padding-bottom: 20px;
}

.regresar_menu{
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.regresar_menu:hover{
    color: gray;
    background-color: rgb(56, 56, 56);
}

.btn_editar{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 40px;
    cursor: pointer;
}

.btn_editar:hover{
    color: white;
}

.btn_eliminar{
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}

.btn_eliminar:hover{
    color: white;
}

.btn_regresar{
    position: absolute;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    background-color: #000000;
    padding: 9px;
    top: 120px;
    left: 480px;
}

.btn_regresar:hover{
    border: rgb(67, 149, 149);
    color: black;
    background-color: white;
}

/* FIN BOTONES REGISTRAR/REGRESAR AL MENU */


/* INICIO ESTILOS PAPELERA */


.body_papelera{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right, #ffffff 0%, #c0c0c0 100%);
}

.texto_bienvenida_papelera{
    padding: 20px;
}

.texto_bienvenida_papelera h1{
    margin-bottom: 20px;
    margin-top: 20px;
}

.texto_bienvenida_papelera p{
    color: black;
}

.texto_bienvenida_papelera a{
    display: flex;
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    align-content: center;
}

.texto_bienvenida_papelera a:hover{
    color: #5a5959;
}
.deatils_unidades{
    padding: 20px;
}

.tabla_unidades_papelera td,th{

    padding-left: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.tabla_unidades_papelera table{
    border-collapse: collapse;
}

.tabla_unidades_papelera a{
    color: black;
}

.tabla_unidades_papelera a:hover{
    color: rgb(255, 255, 255);
}

.details_material{
    padding: 20px;
}

.body_papelera summary{
    margin-bottom: 20px;
    
}

.tabla_materiales_papelera{
    text-align: center;
}



/* FIN ESTILOS PAPELERA */




/* Estilos error 404 */

.body_error404{
    background: linear-gradient(to bottom right, #33ccff 0%, #66ffff 100%);
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}

.faw_error404{
    position: absolute;
    top: 160px;
    left: 42%;
    color: white;
    align-items: center;
}

.texto_error404{
    left: 30%;
    top: 340px;
    position: absolute;
    font-size: 50px;
    color: white;
}

.body_error404 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 420px;
    left: 44%;
}

.body_error404 a:hover{
    color: rgb(50, 50, 50);
}
/* FIN ESTILOS 404*/