*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}

.body_dashboard{
    display: flex;
    background: linear-gradient(to bottom right, #ffffff 0%, #c0c0c0 100%);

}

/* ESTILOS INDEX */

.body_index{
    background: linear-gradient(to bottom right, #33ccff 0%, #66ffff 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio_de_sesion{
    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 290px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #EEEEEE;
}

.inicio_de_sesion h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.inicio_de_sesion input, p{
    font-size: 17px;
    color: #5a5959;
    margin-bottom: 10px;
}

.inicio_de_sesion input{
    padding: 10px 11px;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 25px;
    outline-color: rgb(67, 149, 149);

}

.inicio_de_sesion button{
    left: 30%;
    bottom: 30px;
    position: absolute;
    padding: 13px 47px;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid black;
}

.inicio_de_sesion button:hover{
    background: linear-gradient(to bottom right, #33ccff 0%, #66ffff 100%);
    
}



/* ------------------------------------------------------------ FIN ESTILOS INDEX --------------------------------------- */



/* ---------------------------------------------------------- ESTILOS DASHBOARD -------------------------------------------------- */

.usuario{
    width: 160px;
    padding: 20px;
    height: 80px;
}

.usuario a{
    color: white;
}

.usuario p{
    color: white;
    font-weight: bold;
}

.usuario a:hover{
    color: rgb(118, 118, 118);
}
.vision_de_usuario a{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.vision_de_usuario{
    background: linear-gradient(to bottom, #33ccff 0%, #66ffff 100%);
    position: relative;
    height: 100vh;
    width: 200px;
    
}


.foto_usuario button{
    color: #EEEEEE;
}

.nombre_usuario{
    position: absolute;
    top: 5%;
    left: 90px;
}

.cerrar_sesion{
    position: absolute;
    top: 50px;
    left: 70px;
}

.opciones_proyecto{
    padding: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    border-bottom:2px solid white ;
    width: 160px;
}
.opciones_proyecto a{
    padding: 5px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.opciones_proyecto a:hover{
    color: rgb(118, 118, 118);
}


.proyectos_recientes{
    position: absolute;
    padding: 20px;
    top: 63%;
    width: 160px;
}

.proyectos_recientes p{
    padding: 5px;
    color: rgb(78, 78, 78);
} 


.crear_proyecto{
    background-color: rgb(181, 181, 181);
    display: flex;
    border-radius: 15px;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 20px;
    color: blue;
    width: 113px;
    height: 80px;
    left: 80px;
    text-decoration: none;
    top: 70px;
}

.crear_proyecto:hover{
    background-color: gray;
}

.crear_proyecto p{
    margin-top: 40px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.crear_proyecto .fas{
    cursor: pointer;
}



/* Ventana modal crear proyecto*/

.modal_crear_proyecto{
    display: none;
    margin-left: 10%;
    margin-top: 50px;
    padding: 30px;
    background-color: #FFFFFF;
    max-height: 350px;
    height: auto; 
    width: 350px;
    border-radius: 15px;
    transition: 0.5s all;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.mostrar_modal_crear_proyecto{
    pointer-events: auto;
    display: block;
}

.input_titulo_proyecto{
    outline-color: rgb(67, 149, 149);
    padding: 5px;
    border-radius: 15px;
    border: 1.5px solid black;
}

.label_gubernamental{
    display: flex;
    gap: 20px;
}

.modal_crear_proyecto p{
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}
.procesos_modal_crear_proyecto{
    display: flex;
    gap: 20px;
}

.btns_modal_crear_proyecto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btns_modal_crear_proyecto button{
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    border: none;
    cursor: pointer;
    padding: 10px 30px;
}

.btns_modal_crear_proyecto button:hover{
    background: linear-gradient(to bottom, #33ccff 0%, #66ffff 100%);
}



.btns_modal_crear_proyecto a{
    padding: 10px 30px;
    font-size: 13px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
}

.btns_modal_crear_proyecto a:hover{
    background: linear-gradient(to bottom, #33ccff 0%, #66ffff 100%);
}


.modal_crear_proyecto .btns_modal_crear_proyecto{
    margin-top: 30px;
}



/* Fin Ventana modal crear proyecto*/


/* FIN ESTILOS DASHBOARD */

/* ESTILOS UNIDADES */

.body_unidades{
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);
    height: auto;
    padding: 30px;
    width: 100%;
}

.body_unidades h1{
    margin-left: 43%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.btn_registrar_unidad{
    margin-bottom: 20px;
    margin-left: 35%;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.btn_registrar_unidad:hover{
    color: gray;
    background-color: rgb(56, 56, 56);
}

.btn_registrar_unidad a{
    padding-bottom: 20px;
}

.regresar_menu{
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.regresar_menu:hover{
    color: gray;
    background-color: rgb(56, 56, 56);
}

.tabla_unidades{
    text-align: left;
    width: 370px;
    margin: 20px auto;
    padding-bottom: 20px;
}

.tabla_unidades table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.tabla_unidades th{
    padding-bottom: 20px;
}

.tabla_unidades td{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.tabla_unidades thead, tbody{
    border-bottom: 2px solid black;
}

.btn_editar_unidad{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 40px;
    cursor: pointer;
}

.btn_editar_unidad:hover{
    color: white;
}

.btn_eliminar_unidad{
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}

.btn_eliminar_unidad:hover{
    color: white;
}

/* ESTILOSMODAL ELIMINAR UNIDAD */

.modal_eliminar_unidad{
    display: none;
    top: 170px;
    left: 33%;
    position: fixed;
    text-align: center;
    border-radius: 10px;
    padding: 20px 80px;
    width: 250px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    background-color: white;
    transition: 0.4s
}



.modal_eliminar_unidad p{
    margin-top: 30px;
}

.opciones_eliminar_unidad{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.opciones_eliminar_unidad a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid black ;
}

.btn_aceptar_eliminar_unidad{
    cursor: pointer;
}

.btn_aceptar_eliminar_unidad:hover{
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);
    
}

#btn_cancelar_eliminar_unidad{
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid black;
    cursor: pointer;
}

#btn_cancelar_eliminar_unidad:hover{
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);
    outline-color: rgb(67, 149, 149);
}


/* FIN ESTILOS MODAL ELIMINAR UNIDAD */

/* FIN ESTILOS UNIDADES */

/* ESTILOS REGISTRO UNIDADES*/

.body_registrar_unidad{
    padding: 20px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);
    
}

.form_regis_unidad{
    position: relative;
    align-items: center;
    margin-left: 37%;
    margin-top: 160px;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    height: auto;
    width: 300px;
}

.form_regis_unidad h2{
    text-align: center;
    margin-bottom: 30px;
}

.form_regis_unidad input{
    outline-color: rgb(67, 149, 149);
    margin-left: 20px;
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 15px;
}

.form_regis_unidad button{
    cursor: pointer;
    color: white;
    background-color: black;
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 10px;
}

.form_regis_unidad button:hover{
    border: rgb(67, 149, 149);
    background: linear-gradient(to top left, #33ccff 0%, #66ffff 100%);
}

.btn_regresar_unidades{
    position: absolute;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    background-color: #000000;
    padding: 9px;
    top: 135px;
    left: 480px;
}

.btn_regresar_unidades:hover{
    border: rgb(67, 149, 149);
    color: black;
    background-color: white;
}


/* FIN ESTILOS REGISTRO UNIDADES*/

/* INICIO ESTILOS MATERIALES */

/* FIN ESTILOS MATERIALES */

/* Estilos error 404 */

.body_error404{
    background: linear-gradient(to bottom right, #33ccff 0%, #66ffff 100%);
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}

.faw_error404{
    position: absolute;
    top: 160px;
    left: 42%;
    color: white;
    align-items: center;
}

.texto_error404{
    left: 30%;
    top: 340px;
    position: absolute;
    font-size: 50px;
    color: white;
}

.body_error404 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 420px;
    left: 44%;
}

.body_error404 a:hover{
    color: rgb(50, 50, 50);
}
/* FIN ESTILOS 404*/