{% extends "dashboard.html" %}

{% block titulo %} Detalles Proyecto {% endblock %}

{% block head %} {% endblock %}



{% block contenido %}
<div class="body_detalles_proyectos">
    <div class="contenido_detalles_proyecto">
        <a class="boton btn_regresar" href="{{url_for('dashboard')}}"><i class="fa-solid fa-arrow-left"></i>Regresar</a>
        <a class="boton boton_editar_proyecto" href="#modal_crear_proyecto" id="abrir_editar_proyecto">Editar</a>
        <h2 style="margin-left: 200px; margin-top: 20px; margin-bottom: 15px;">Proyecto: {{proyectaso.2}}</h2>
        <div class="alinear-horizontal">
            

            
            <table class="tabla_proyectaso">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Titulo</th>
                        <th>Creador</th>
                        <th>Dirección</th>
                        <th>Cliente</th>
                        <th>Tipo</th>
                        <th>Costo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{proyectaso.2}}</td>
                        <td>{{proyectaso.3}}</td>
                        <td>{{current_user.nombre}}</td>
                        <td>{{proyectaso.4}}, {{proyectaso.5}}, {{proyectaso.6}}</td>
                        <td>{{proyectaso.7}}</td>
                        <td>{% if proyectaso.9 == True %} 
                            Gubernamental 
                            {% else %} 
                            Particular
                            {% endif %}
                        </td>
                        <td>{{ costo_total_de_proyecto | round(3) }}</td>
                    </tr>
                </tbody>
                
            </table>
           
        </div>

        
            
            
        <h2 style="margin-left: 290px; margin-bottom: 20px; margin-top: 10px;">Conceptos del proyecto</h2>
        <a class="boton" href="{{url_for('registrar_concepto', id_proyecto=proyectaso.0)}}" id="abrir_registrar_concepto">Nuevo concepto</a>
        {% if costo_total_de_proyecto %}
        <p class="textos_proyectos" style="color: green;">Importe del proyecto: <b>${{ costo_total_de_proyecto | round(3) }}</b></p>
        {% else %}
        <p class="textos_proyectos">Aun sin presupuesto</p>
        {% endif %}
        {% if conceptos %}
        <table class="table_procesos">
            <thead>
                <th>Detalles</th>
                <th>Nombre</th>
                <th>Unidad</th>
                <th>Costo</th>
                <th>Cantidad</th>
                <th>% de maq. y eq.</th>
                <th>Importe</th>
                <th>Eliminar</th>
            </thead>
            <tbody>
                {% for concepto in conceptos %}
                    <tr>
                        <td>
                            <a href="{{url_for('detalles_concepto', id_concepto=concepto[0])}}" class="btn_editar"> <!--BTN EDITAR CLASS-->
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </td>
                        <td>{{concepto.1}}</td>
                        <td>{{concepto.3}}</td>
                        <td>{{concepto.20 | round(2)}}</td>
                        <td>{{concepto.4}}</td>
                        <td>{{concepto.7}}%</td>
                        <td>{{concepto.21 | round(2)}} </td>
                        <td>
                            <a class="btn_eliminar" href="#modal_eliminar_concepto_{{concepto.0}}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="textos_proyectos">Aun sin conceptos registrados, resgitra uno</p>
            {% endif %}

            <div class="modal_crear_proyecto" id="modal_crear_proyecto">

                <form method="post" action="{{url_for('editar_proyecto_proceso', id_proyecto=proyectaso[0] )}}">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

                    <h1>Editar proyecto</h1>
                    <div class="textos_nombre_proyectos">
                        <p id="nombre_proyecto">Nombre</p>
                        <p id="titulo_proyecto">Titulo</p>
                    </div>
                    
                    <div class="inputs_nombre_proyecto">
                        <input type="text" class="input_nombre_proyecto" name="nombre_proyecto" placeholder="Nombre del proyecto" value="{{proyectaso[2]}}">
                        <input type="text" class="input_titulo_proyecto" name="titulo_proyecto" placeholder="Titulo del proyecto" value="{{proyectaso[3]}}">
                    </div>
                    <h2>Direccion</h2>

                    <div class="textos_direccion">
                        <p>Colonia</p>
                        <p class="texto_municipio">Municipio</p>
                        <p class="texto_estado">Estado</p>
                    </div>
                        
                    <div class="inputs_direccion_proyecto">
                        <input type="text" id="colonia_proyecto" name="colonia_proyecto" placeholder="Colonia" value="{{proyectaso[4]}}"> 
                        <input type="text" id="municipio_proyecto" name="municipio_proyecto" placeholder="Municipio" value="{{proyectaso[5]}}">
                        <input type="text" id="estado_proyecto" name="estado_proyecto" placeholder="Estado" value="{{proyectaso[6]}}">
                    </div>

                    <p class="nombre_cliente">Nombre del cliente</p>
                    <input type="text" id="nombrecliente_proyecto" name="nombrecliente_proyecto" placeholder="Nombre del cliente" value="{{proyectaso[7]}}">

                    <p>¿Es gubernamental?</p>
                    <input type="checkbox" name="gubernamental_proyecto" {% if proyectaso[9] == true %}checked{% endif %}>
                    <label for="">Si es así marque la casilla, de lo contrario dejela así.</label>
                    <p></p>

                    <div class="btns_registro_proyecto">

                        <button type="submit" id="btn_guardar_proyecto" class="boton">Guardar</button>
                        <a href="#"id="btn_cancelar_proyecto" class="boton">Cancelar</a>

                    </div>
                    

                </form>

            </div>

            
            {% for concepto in conceptos %}
                <div class="modal_eliminar" id="modal_eliminar_concepto_{{concepto.0}}">
                    <h3 style="margin-bottom: 20px; font-size: 25px;">Eliminar concepto</h3>
                    <p>¿Estas seguro de eliminar este concepto?</p>
                    <p>{{concepto.1}}</p>
                    <div class="opciones_eliminar_unidad">
                        <a href="{{url_for('eliminar_concepto', id_proyecto=proyectaso.0, id_concepto=concepto.0) }}" class="boton_eliminar">Aceptar</a>
                        <a href="#" class="boton_cancelar">Cancelar</a>
                    </div>
                </div>
            {% endfor %}

        </div>

        {% endblock %}
    </div>
    

