{% extends "dashboard.html" %}

{% block titulo %} Detalles Proyecto {% endblock %}

{% block head %} {% endblock %}

<body class="body_detalles_conceptos">

    {% block contenido %}

    <div class="body_materiales">

        <h2 style="margin-left: 10%; margin-bottom: 50px; margin-top: 50px;">Concepto: {{concepton.1}}</h2>
        <div class="alinear-horizontal">
            <p>N°: {{concepton.0}}</p>
            <p>Proyecto: {{concepton.2}}</p>
            <p>Unidad: {{concepton.3}}</p>
            <p>% Maq. y Equipo: {{concepton.4}}</p>
            <p>% Indirectos: {{concepton.5}}</p>
            <p>% Financiamiento: {{concepton.6}}</p>
            <p>% Utilidad: {{concepton.7}}</p>
        </div>
        
        <a class="regresar_menu" href="{{url_for('detalles_proyecto', id_proyecto=concepton[8])}}">Regresar al proyecto</a>
        
        <details open>
            <summary>Materiales del concepto</summary>
        
            <div style="position: relative; width: 300px;">
                <input type="text" id="searchBoxmats" placeholder="Buscar materiales..." style="width: 100%;">
        <div id="resultsmats">
            {% for material in materiales %}
            <div class="resultmats">
                <a href="{{url_for('detalles_proyecto', id_proyecto=concepton[8])}}">{{material.1}}</a>
            </div>
            {% endfor %}
        </div>

            </div>
        
            {% if materialon %}
            <table class="tabla_materiales">
                <thead>
                    <th>Editar</th>
                    <th>Nombre</th>
                    <th>Unidad</th>
                    <th>Costo</th>
                    <th>Cantidad</th>
                    <th>Importe</th>
                    <th>Remover</th>
                </thead>
                <tbody>
                    {% for material in materialon %}
                    <tr>
                        <td>
                            <a class="btn_editar_materialconcepto" href="#id_modal_editar_materialconcepto_{{ material[7] }}">
                                <i class="fa-solid fa-pen-to-square" ></i>
                            </a>
                        </td>
                        <td>{{material.1}}</td>
                        <td>{{material.6}}</td>
                        <td>${{ material.2 | round(5) }}</td>
                        <td>{{ material.3 | round(5) }}</td>
                        <td>{{material.4 | round(5) }}</td>
                        <td>
                            <a class="btn_eliminar" href="#modal_eliminar_materialcon_{{ material[7] }}"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No hay materiales dentro del concepto, insertar en el cuadro de búsqueda.</p>
            {% endif %}
        
        </details>
        
        <details open>
            <summary>Maquinaria del concepto</summary>
        
            <div style="position: relative; width: 300px;">
                <input type="text" id="searchBoxmaqs" placeholder="Buscar maquinaria..." style="width: 100%;">
                <div id="resultsmaqs">
                    {% for maquina in maquinaria %}
                    <div class="resultmaqs">
                        <a href="#">{{maquina.1}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
            {% if maquinon %}
            <table class="tabla_materiales">
                <thead>
                    <th>Editar</th>
                    <th>Nombre</th>
                    <th>Unidad</th>
                    <th>Costo</th>
                    <th>Cantidad</th>
                    <th>Importe</th>
                    <th>Vida util</th>
                    <th>Remover</th>
                </thead>
                <tbody>
                    {% for maquina in maquinon %}
                    <tr>
                        <td>
                            <a class="btn_editar_maquinariaconcepto" href="#id_modal_editar_maquinariaconcepto_{{ maquina[8] }}">
                                <i class="fa-solid fa-pen-to-square" ></i>
                            </a>
                        </td>
                        <td>{{maquina.1}}</td>
                        <td>{{maquina.7}}</td>
                        <td>{{ maquina.2 | round(5) }}</td>
                        <td>{{ maquina.3 | round(5) }}</td>
                        <td>{{ maquina.4 | round(5) }}</td>
                        <td>{{ maquina.5 | round(5) }}</td>
                        <td>
                            <a class="btn_eliminar" href="#id_modal_eliminar_maquinariaconcepto_{{ maquina[8] }}"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No hay maquinaria dentro del concepto, insertar en el cuadro de búsqueda.</p>
            {% endif %}
        
        </details>
        
        {% for material in materialon %}
        <div class="modal_eliminar_materialconcepto" id="modal_eliminar_materialcon_{{ material[7] }}">
            <h3 style="margin-bottom: 20px; font-size: 25px;">Eliminar material</h3>
            <p>¿Estas seguro de eliminar este material del concepto?</p>
            <p>{{material.1}} </p>
            <div class="btns_modal_crear_proyecto">
                <a href="{{url_for('eliminar_material_concepto', id_conmat=material[7], id_concepto=concepton[0])}}">Aceptar</a>
                <a href="#" id="btn_cancelar_registrar_proyecto">Cancelar</a>
            </div>
        </div>
        {% endfor %}
        
        {% for material in materialon %}
        <div class="modal_editar_materialconcepto" id="id_modal_editar_materialconcepto_{{ material[7] }}">
            <h2 style="margin-bottom: 20px; font-size: 25px;">Editar Material</h2>
            <form action="#" method="POST">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <p>Cantidad del material para el concepto:</p>
                <input type="number" step="0.00001" placeholder="Cantidad del material..." name="cant_conmat" value="{{material[3]}}" required>
                <input type="hidden" name="id_conmat" value="{{material[7]}}" required>
                <p></p>
                <div class="btns_modal_crear_proyecto">
                    <button type="submit">Editar</button>
                    <a href="#">Cancelar</a>
                </div>
            </form>
        </div>
        {% endfor %}
        
        {% for maquina in maquinon %}
        <div class="modal_editar_maquinariaconcepto" id="id_modal_editar_maquinariaconcepto_{{ maquina[8] }}">
            <h2 style="margin-bottom: 20px; font-size: 25px;">Editar Maquinaria</h2>
            <form action="#" method="POST">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <p>Cantidad para la maquinaria:</p>
                <input type="number" step="0.00001" placeholder="Cantidad de Maquinaria..." name="cant_conmaq" value="{{maquina[3]}}" required>
                <input type="hidden" name="id_conmaq" value="{{maquina[8]}}" required>
                <p></p>
                <div class="btns_modal_crear_proyecto">
                    <button type="submit">Editar</button>
                    <a href="#">Cancelar</a>
                </div>
            </form>
        </div>
        {% endfor %}
        
        {% for maquina in maquinon %}
        <div class="modal_eliminar_maquinariaconcepto" id="id_modal_eliminar_maquinariaconcepto_{{ maquina[8] }}">
            <h3 style="margin-bottom: 20px; font-size: 25px;">Eliminar maquinaria</h3>
            <p>¿Estas seguro de eliminar esta maquinaria del concepto?</p>
            <p>{{maquina.1}} </p>
            <div class="btns_modal_crear_proyecto">
                <a href="{{url_for('eliminar_maquinaria_concepto', id_conmaq=maquina[8], id_concepto=concepton[0])}}">Aceptar</a>
                <a href="#">Cancelar</a>
            </div>
        </div>
        {% endfor %}
        
        
        
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% endblock %}

</body>