{% extends "dashboard.html" %}

{% block titulo %} Editar Usuario {% endblock %}

{% block contenido %}
<div class="contenido_editar_usuario">
    <h2>Editar Usuario</h2>
    <form action="{{ url_for('editar_usuario', id_usuario=usuario.id_usuario) }}" method="POST">
        <div class="form-group mb-3">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" value="{{ usuario[1] }}" required>
        </div>
        <div class="form-group mb-3">
            <label for="apellidos">Apellidos:</label>
            <input type="text" name="apellidos" id="apellidos" value="{{ usuario[2] }}" required>
        </div>
        <div class="form-group mb-3">
            <label for="correo_usuario">Correo:</label>
            <input type="email" name="correo_usuario" id="correo_usuario" value="{{ usuario[3] }}" required>
        </div>
        <div class="form-group mb-3">
            <label for="contraseña_usuario">Contraseña:</label>
            <input type="password" name="contraseña_usuario" id="contraseña_usuario">
        </div>
        <div class="form-group mb-3">
            <label for="img_usuario">Imagen:</label>
            <input type="text" name="img_usuario" id="img_usuario" value="{{ usuario[5] }}">
        </div>
        <div class="form-group mb-3">
            <label for="activo">Activo:</label>
            <input type="checkbox" name="activo" id="activo" {% if usuario[6] %}checked{% endif %}>
        </div>
        <button type="submit">Actualizar</button>
        </div>
    </form>
</div>
{% endblock %}
