{% extends "dashboard.html" %}

{% block titulo %} Maquinaria {% endblock %}


{% block head %} {% endblock %}

<body class="body_maquinaria">

    {% block contenido %}

    <div class="contenido_maquinaria">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="notifcacion {% if "Error" in message %} peligro {%  elif "Advertencia" in message %} advertencia {% else %} completado {% endif %} " id="notificacion">
                        {{message}} 
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <h2>Tabla de maquinaria</h2>

        <div class="btns_opcion_registro">
            <a href="{{url_for('registrar_maquinaria')}}" class="btn_registrar">Registrar maquina</a>
        </div>

        <table class="tabla_maquinas">
            <thead>
                <th>Nombre de la maquina</th>
                <th>Costo</th>
                <th>Vida util</th>
                <th>Unidad</th>
                <th>Opciones</th>
            </thead>
            <tbody>
                {% for maquina in maquinaria %}
                <tr>
                    <td>{{maquina.nombre_maquina}}</td>
                    <td>${{maquina.costo_maquina}}</td>
                    <td>{{maquina.vida_util}}</td>
                    <td>{{maquina.nombre_unidad}} </td>
                    <td>
                        <a href="{{url_for('editar_maquina', id_maquina=maquina.id_maquina )}}" class="btn_editar"><i class="fa-solid fa-pen-to-square" ></i></a>
                        <a class="btn_eliminar" href="#modal_eliminar_maquina_{{maquina.id_maquina}}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                 
                </tr>
            </tbody>
            {% endfor %}
        </table>

        {% for maquina in maquinaria %}
        <div class="modal_eliminar_maquina" id="modal_eliminar_maquina_{{maquina.id_maquina}}">
            <h3 style="margin-bottom: 20px; font-size: 25px;">Eliminar maquina</h3>
            <p>¿Estas seguro de eliminar esta maquina?</p>
            <p>{{maquina.1}} </p>
            <div class="btns_eliminar_maquina">
                <a href="{{url_for('eliminar_maquinaria', id_maquina = maquina.id_maquina)}}">Aceptar</a>
                <a href="#">Cancelar</a>
            </div>
        </div>


    {% endfor %}   
    
    <div class="paginador">

        {% if total_pages == 1 and page== 1 %}
        <a class="btn_inactivo">Aun sin páginas</a>
         
        {% endif %}

        
        {% if page == 1 and total_pages > 1 %}
        <a  class="btn_inactivo">Regresar</a>
        <a href="{{url_for ('maquinaria')}}?page={{ page + 1 }}&per_page= {{ per_page }}" class="btn_avanzar">Avanazar</a>
        <a class="contador">{{page}}/{{total_pages}} </a>

        {% endif %}
        {% if page > 1 and page != total_pages %}
        <a href="{{url_for ('maquinaria')}}?page={{ page - 1 }}&per_page= {{ per_page }}" class="btn_retroceder">Regresar</a>
        <a href="{{url_for ('maquinaria')}}?page={{ page + 1 }}&per_page= {{ per_page }}" class="btn_avanzar">Avanazar</a>
        <a class="contador">{{page}}/{{total_pages}} </a>
        {% endif %}

        {% if page == total_pages and total_pages != 1 %}
        <a href="{{url_for ('maquinaria')}}?page={{ page - 1 }}&per_page= {{ per_page }}" class="btn_retroceder">Regresar</a>
        <a  class="btn_inactivo">Avanazar</a>
        <a class="contador">{{page}}/{{total_pages}} </a>
        {% endif %}
    </div>


    <script> 
        function mostrarNotificacion() {
            const notificacion = document.getElementById("notificacion");
            notificacion.style.display = "block";
        
            // Cerrar la notificación después de 4 segundos
            setTimeout(function() {
                notificacion.style.display = "none";
            }, 2000);
        }
        
        // Mostrar la notificación para probar
        mostrarNotificacion();
    </script>

 {% endblock %}
</body>

