{% extends "dashboard.html" %}

{% block titulo %} Materiales {% endblock %}


{% block head %} {% endblock %}

{% block vision_de_usuario %} {% endblock %}


<body class="body_materiales">

{% block contenido %}

    

    <div class="contenido_materiales">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="notifcacion {% if "Error" in message %} peligro {%  elif "Advertencia" in message %} advertencia {% else %} completado {% endif %} " id="notificacion">
                        {{message}} 
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <h2>Tabla de materiales</h2>
        <div class="btns_opcion_registro">
            <a href="{{url_for('registrar_material')}}" class="btn_registrar boton">Registrar material</a>
        </div>

        <table class="tabla_materiales">
            <thead>
                <tr>
                    <th>Editar</th>
                    <th>Nombre del material</th>
                    <th>Costo</th>
                    <th>Unidad</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materiales %}
                <tr>
                    <td>
                        <a href="#abrir_modal_editar_{{material.id_material}}" class="btn_editar"><i class="fa-solid fa-pen-to-square" ></i></a>
                    </td>
                    <td>{{material.nombre_material}}</td>
                    <td>${{material.costo_material}}</td>
                    <td>{{material.nombre_unidad}}</td>
                    <td>
                        <a class="btn_eliminar" href="#modal_eliminar_material_{{material.id_material}}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                 
                </tr>
                {% endfor %}
            </tbody> 
        </table>

        {% for material in materiales %}
        <div class="modal_eliminar_material" id="modal_eliminar_material_{{material.id_material}}">
            <h3 style="margin-bottom: 20px; font-size: 25px;">Eliminar material</h3>
            <p>¿Estas seguro de eliminar este material?</p>
            <p>{{material.nombre_material}} </p>
            <div class="btns_eliminar_material">
                <a href="{{url_for('eliminar_material', id_material = material.id_material)}}" class="boton_eliminar">Aceptar</a>
                <a href="#" class="boton_cancelar">Cancelar</a>
            </div>
        </div>

    {% endfor %}
    
    {% for material in materiales %}
    <div class="modal_editar2" id="abrir_modal_editar_{{material.id_material}}">
        <form method="post" action="{{url_for('editar_material_proceso', id_material= material.id_material)}}">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <h3>Editar material</h3>
            <p>Nombre de el material</p>
            <input type="text" name="nombre_material" value="{{material.nombre_material}}">
            <p>Costro del material</p>
            <input type="number" name="costo_material" value="{{material.costo_material}}">
            <p>Unidad del material</p>
            <select name="fk_unidad" id="">
                {% for unidad in unidades %}
                    <option value="{{unidad.0}}" {% if unidad.0 == material.fk_unidad %} selected {% endif %} >{{unidad.1}} </option>
                {% endfor %}
            </select>
            <div class="botones_editar">
                <button type="submit" class="boton">Aceptar</button>
                <a href="#" class="boton_cancelar">Cancelar</a>
            </div>
        </form>
    </div>
    {% endfor %}

  

    <div class="paginador">

        {% if total_pages == 1 and page== 1 %}
        <a class="btn_inactivo">Aun sin páginas</a>
         
        {% endif %}

        
        {% if page == 1 and total_pages > 1 %}
        <a  class="btn_inactivo">Regresar</a>
        <a href="{{url_for ('materiales')}}?page={{ page + 1 }}&per_page= {{ per_page }}" class="btn_avanzar">Avanazar</a>
        <a class="contador">{{page}}/{{total_pages}} </a>

        {% endif %}
        {% if page > 1 and page != total_pages %}
        <a href="{{url_for ('materiales')}}?page={{ page - 1 }}&per_page= {{ per_page }}" class="btn_retroceder">Regresar</a>
        <a href="{{url_for ('materiales')}}?page={{ page + 1 }}&per_page= {{ per_page }}" class="btn_avanzar">Avanazar</a>
        <a class="contador">{{page}}/{{total_pages}} </a>
        {% endif %}

        {% if page == total_pages and total_pages != 1 %}
        <a href="{{url_for ('materiales')}}?page={{ page - 1 }}&per_page= {{ per_page }}" class="btn_retroceder">Regresar</a>
        <a  class="btn_inactivo">Avanazar</a>
        <a class="contador">{{page}}/{{total_pages}} </a>
        {% endif %}
    </div>

   
    
    </div>  


    <script> 
        function mostrarNotificacion() {
            const notificacion = document.getElementById("notificacion");
            notificacion.style.display = "block";
        
            // Cerrar la notificación después de 4 segundos
            setTimeout(function() {
                notificacion.style.display = "none";
            }, 2000);
        }
        
        // Mostrar la notificación para probar
        mostrarNotificacion();
    </script>

 {% endblock %}

</body>

