{% extends "dashboard.html" %}

{% block titulo %} Materiales {% endblock %}


{% block head %} {% endblock %}



{% block contenido %}
<div class="body_materiales">
    <h2 style="margin-left: 45%; margin-bottom: 50px; margin-top: 50px;">Materiales</h2>
    <a href="{{url_for('registrar_material')}}" class="btn_registrar">Registrar un nuevo material</a>
    <a class="regresar_menu" href="{{url_for('dashboard')}}">Regresar al menu</a>


    <table class="tabla_materiales">
        <thead>
            <th>Nombre del material</th>
            <th>Costo</th>
            <th>Unidad</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            {% for material in materiales %}
            <tr>
                <td>{{material.1}}</td>
                <td>{{material.2}}</td>
                <td>{{material.3}}</td>
                <td>
                    <a href="{{url_for('editar_material', id_material=material[0] )}}" class="btn_editar"><i class="fa-solid fa-pen-to-square" ></i></a>
                    <a class="btn_eliminar" href="#modal_eliminar_material_{{material[0]}}"><i class="fa-solid fa-trash"></i></a>
                </td>
             
            </tr>
        </tbody>
        {% endfor %}
    </table>



    {% for material in materiales %}
        <div class="modal_eliminar_material" id="modal_eliminar_material_{{material[0]}}">
            <h2>Eliminar material</h2>
            <p>¿Estas seguro de eliminar este material?</p>
            <p>{{material.1}} </p>
            <div class="btns_eliminar_material">
                <a href="{{url_for('eliminar_material', id_material = material[0])}}">Aceptar</a>
                <a href="#">Cancelar</a>
            </div>
        </div>


    {% endfor %}


</div>

{% endblock %}