{% extends "dashboard.html" %}



{% block head %} {% endblock %}

{% block vision_de_usuario %}
 {% endblock %}





{% block contenido %}
<div class="body_papelera">
    <div class="texto_bienvenida_papelera">
        <a href="{{url_for('dashboard')}}"><i class="fa-solid fa-house"></i> Regresar</i></a>
        <h1>Bienvenido a tu papelera</h1>
        <p>Aqui podras encontrar todos los datos eliminados, podras restaurarlos o eliminarlos definitivamente </p>
    </div>

    <div class="deatils_unidades">
        <details>
            <summary>Unidades</summary>
            <table class="tabla_unidades_papelera">
                <thead>
                    <th>Nombre de la unidad</th>
                    <th>Eliminar</th>
                    <th>Restaurar</th>
                </thead>
                <tbody>
                    {% for unidad in unidades %}
                    <tr>
                        <td>{{unidad[1]}}</td> 
                        <td><a href="#"><i class="fa-solid fa-trash"></i></a></td> 
                        <td><a href="#"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>                    
                    </tr>
                </tbody>
                {% endfor %}
            </table>

        </details>
    </div>


    <div class="details_material">
        <details>
            <summary>Materiales</summary>

            <table class="tabla_materiales_papelera">
                <thead>
                    <th>Nombre del material</th>
                    <th>Costo</th>
                    <th>Unidad</th>
                    <th>Eliminar</th>
                    <th>Restaurar</th>
                </thead>
                <tbody>
                    {% for material in materiales %}
                    <tr>
                        <td>{{material.1}}</td>
                        <td>{{material.2}}</td>
                        <td>{{material.3}}</td>
                        <td> <a href="#" class="btn_eliminar"> <i class="fa-solid fa-trash"></i></a></td>
                        <td><a href="#" class="btn_eliminar"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                     
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </details>

        

        </div>

    <div class="details_oficios">
        <details>
            <summary>Oficios</summary>

            <table class="tabla_oficios_papelera">
                <thead>
                    <th>Nombre</th>
                    <th>Unidad</th>
                    <th>Costo</th>
                    <th>Eliminar</th>
                    <th>Restaurar</th>
                </thead>
                <tbody>
                {% for oficio in oficios %}
                    <tr>
                        <td>{{oficio.1}}</td>
                        <td>{{oficio.2}}</td>
                         <td>${{oficio.3}}</td>
                         <td><a href="#" class="btn_eliminar"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                         <td> <a href="#" class="btn_eliminar"> <i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
                    
            </table>

        </details>


    </div>

    <div class="details_maquinaria">
        <details>
            <summary>Maquinaria</summary>
            <table class="tabla_maquinas_papelera">
                <thead>
                    <tr>
                        <th>Nombre de la maquinaria</th>
                        <th>Costo</th>
                        <th>Vida util</th>
                        <th>Unidad</th>
                        <th>Eliminar</th>
                        <th>Restaurar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for maquina in maquinaria %}
                    <tr>
                        <td>{{maquina.1}}</td>
                        <td>${{maquina.2}}</td>
                        <td>{{maquina.3}}</td>
                        <td>{{maquina.4}} </td>
                        <td> <a href="#" class="btn_eliminar"> <i class="fa-solid fa-trash"></i></a></td>
                         <td><a href="#" class="btn_eliminar"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>   
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </details>
    </div>


</div>

{% endblock %}