{% extends "dashboard.html" %}

{% block titulo %} Registrar Concepto {% endblock %}

{% block head %} {% endblock %}

<body class="body_regis_procesos">

    {% block contenido %}

        <div class="contenido_regis_proceso">
            <a class="boton btn_regresar" href="{{url_for('detalles_proyecto', id_proyecto=proyectaso)}}"><i class="fa-solid fa-arrow-left"></i>Regresar</a>
                <form action="{{url_for('registrar_concepto_proceso', id_proyecto=proyectaso)}}" method="POST" class="form_regis_concepto">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <input type="hidden" name="fk_proy_con" value="{{proyectaso}}">
                    <h2>Registrar Concepto</h2>
                    <div class="textos1_concepto">
                        <p>Nombre del Concepto</p>
                        <p>Unidad</p>
                    </div>

                    <div class="inputs1_concepto">
                        <input type="text" placeholder="Nombre del concepto..."  name="nombre_concepto" required id="input_regis_concepto"> 
                        <select class="" id="fk_unid_con" name="fk_unid_con">
                            {% for unidad in unidades %}
                                <option value="{{ unidad[0] }}">{{ unidad[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="textos2_concepto">
                        <p>Cantidad</p>
                        <p>Porcentaje de Maquinaria y Equipos</p>
                        <p>Porcentaje de Indirectos</p>
                    </div>
                    
                    <div class="inputs2_concepto">
                        <input type="number" step="0.00001" placeholder="Cantidad..." name="cantidad_concepto" required class="cant_concepto">
                        <input type="number" step="0.00001" placeholder="Porcentaje Maq. y Eq..." name="porcentajemaqyeq_con" required class="por_herr_equi">
                        <input type="number" step="0.00001" placeholder="Indirectos..." name="indirectos_con" required class="por_indirectos">
                    </div>

                    <div class="textos3_concepto">
                        <p>Porcentaje de Financiamiento</p>
                        <p>Porcentaje de Utilidad</p>
                        <p>Porcentaje de Tratamiento</p>
                    </div>
                    <div class="inputs3_concepto">
                        <input type="number" step="0.00001" placeholder="Financiamiento..." name="financiamiento_con" required class="por_financiamiento">
                        <input type="number" step="0.00001" placeholder="Utilidad..." name="utilidad_con" required class="utilidad_con">
                        <input type="number" step="0.00001" placeholder="% de tratamiento" name="tratamiento_con" required class="utilidad_con">
                    </div>

                    <p></p>
                    <div class="btns_eliminar_oficio">
                        <button type="submit" class="boton">Registrar</button>
                    </div>
                </form>

        </div>

    {% endblock %}

</body>

