{% extends "dashboard.html" %}

{% block titulo %} Materiales {% endblock %}


{% block head %} {% endblock %}

{% block contenido %}

<div class="body_registrar_material">
    <a class="btn_regresar" href="{{url_for('materiales')}}">Regresar</a>
    <form method="post" class="form_regis_material" action="{{url_for('registrar_material_proceso')}}">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <h2>Registra una herramienta</h2>
        <p>Nombre del material</p>
        <input type="text" id="nombre_unidad" placeholder="Inserta nombre del material..." name="nombre_material">
        <p>Costo del material</p>
        <input type="number" name="costo_material" id="costo_material" placeholder="Inserta el coste">
        <p>Unidad</p>
        <select name="fk_unidad" id="">
            <option selected>Elige una unidad</option>
            {% for unidad in unidades %}
                <option value="{{unidad.0}}">{{unidad.1}} </option>

            {% endfor %}

        </select>
        <button type="submit">Guardar</button>
    
    </form>
    
</div>

{% endblock %}