{% extends "dashboard.html" %}

{% block titulo %} Unidades {% endblock %}



{% block head %} {% endblock %}



{% block contenido %}
<div class="body_unidades">
    <h1>Unidades</h1>
    <a href="{{url_for('form_regis_unidad')}}" class="btn_registrar">Registrar una nueva unidad</a>
    <a class="regresar_menu" href="{{url_for('dashboard')}}">Regresar al menu</a>
    
    <table class="tabla_unidades">
        <thead>
            <th>Nombre de la unidad</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            {% for unidad in unidad %}
            <tr>
                <td>{{unidad[1]}}</td>
                <td>
                    <a href="{{url_for('editar_unidad', id_unidad=unidad[0])}}" class="btn_editar"><i class="fa-solid fa-pen-to-square" >ED</i></a>
                    <a class="btn_eliminar" href="#id_modal_eliminar_unidad_{{unidad[0]}}"><i class="fa-solid fa-trash">EL</i></a>
                </td>
                
                
                
                
            </tr>
        </tbody>
        {% endfor %}
    </table>

    {% for unidad in unidad %}
        <div class="modal_eliminar_unidad" id="id_modal_eliminar_unidad_{{unidad[0]}}">
            <h2>Eliminar unidad</h2>
            <p>¿Esta seguro de eliminar esta unidad?</p>
            <p>{{unidad.1}} </p>
            <div class="opciones_eliminar_unidad">
                <a href="{{url_for('eliminar_unidad', id_unidad=unidad[0])}}" class="btn_aceptar_eliminar_unidad">Aceptar</a> 
                <a href="#">Cancelar</a>
            </div>
        </div>

    {% endfor %}
    
    
</div>
{% endblock %}