{% extends "dashboard.html" %}

{% block titulo %} Unidades {% endblock %}

{% block head %} {% endblock %}

{% block contenido %}

<div class="body_editar_unidad">
    <form method="post" action="{{url_for('editar_unidad_proceso', id_unidad=unidad[0])}}" class="form_editar_unidad">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <h2>Nombre de la unidad</h2>
        <input type="text" name="nombre_unidad" value="{{unidad[1]}}">
        <div class="btns_editar_unidad">
            <a href="{{url_for('unidades')}}">Regresar</a>
            <button type="submit">Aceptar</button>
        </div>
    </form>

</div>

{% endblock %}